:root {
  --background-green: #c6efce;
  --text-green: #2cc229;
  --text-green-secondary: #32c53a;
  --background-red: #ffc7ce;
  --text-red: #ff0000;
  --text-red-secondary: #d61721;
  --background-yellow-th: #ffd304;
  --background-yellow-even: #ffd304;
  --background-yellow-odd: #fff7ce;
  --background-even: #eeeeee;
  --background-odd: #f8f8f8;
  --text-primary: #5a7d8d;
  --text-yellow: rgb(100, 100, 100);
}

.no-border-right {
  border-right: 0px !important;
}

.card-ukuran {
  width: 280px;
  height: 162px;
}

.card-background-1 {
  width: auto;
  background: url("https://raw.githubusercontent.com/NicholassJP/report-monitoring-pkm-prinsipal/main/images/icon_card_1.png")
    0 0 no-repeat;
  background-color: white;
  background-size: cover;
  background-position-x: -70px;
  background-position-y: 50px;
}
.card-background-2 {
  width: auto;
  background: url("https://raw.githubusercontent.com/NicholassJP/report-monitoring-pkm-prinsipal/main/images/icon_card_2.png")
    0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-x: -50px;
  background-position-y: 50px;
}
.card-background-3 {
  width: auto;
  background: url("https://raw.githubusercontent.com/NicholassJP/report-monitoring-pkm-prinsipal/main/images/icon_card_3.png")
    0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-x: -70px;
  background-position-y: 60px;
}
.card-background-4 {
  width: auto;
  background: url("https://raw.githubusercontent.com/NicholassJP/report-monitoring-pkm-prinsipal/main/images/icon_card_4.png")
    0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-x: -100px;
  background-position-y: 60px;
}

.img-card {
  width: 80px;
}

.color-table.dark-table thead th {
  background-color: #234a5c !important;
}

.sticky-table {
  position: sticky;
  left: 0;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

.first-col {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  left: 0px;
}

.second-col {
  left: 250px;
}

.sticky-table-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.table td {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle !important;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.chart-1 {
  color: #50b052;
}

.chart-2 {
  color: #a8d08d;
}

.chart-3 {
  color: #f8c045;
}

.chart-4 {
  color: #f4b083;
}

.chart-5 {
  color: #adb9ca;
}

.chart-6 {
  color: #bdd6ee;
}

th {
  text-align: center;
}

td {
  border-top: 3px solid white !important;
  border-right: 3px solid white !important;
}

.low-inv {
  font-weight: 500;
  background-color: #50b052;
  color: white;
}

.proper-inv {
  font-weight: 500;
  background-color: #a8d08d;
  color: white;
}

.mod-sales {
  font-weight: 500;
  background-color: #f8c045;
  color: white;
}

.no-sales {
  font-weight: 500;
  background-color: #f4b083;
  color: white;
}

.new-store {
  font-weight: 500;
  background-color: #adb9ca;
  color: white;
}

.total {
  font-weight: 500;
  background-color: #bdd6ee;
  color: white;
}

.text-green {
  font-weight: 500;
  color: var(--text-green-secondary) !important;
}

.text-red {
  font-weight: 500;
  color: var(--text-red-secondary);
}

.td-green {
  font-weight: 500;
  background-color: var(--background-green);
  color: var(--text-green);
}

.td-even {
  font-weight: 500;
  background-color: var(--background-even);
  color: var(--text-primary);
}

.td-odd {
  font-weight: 500;
  background-color: var(--background-odd);
  color: var(--text-primary);
}

table {
  border-radius: 8px 8px 0px 0px !important;
}

.td-red {
  font-weight: 500;
  background-color: var(--background-red);
  color: var(--text-red);
}

.td-yellow-even {
  font-weight: 500;
  background-color: var(--background-yellow-even);
  color: var(--text-primary);
}

.td-yellow-odd-2 {
  font-weight: 500;
  background-color: #f4eed0;
  color: var(--text-primary);
}

.td-yellow-odd {
  font-weight: 500;
  background-color: var(--background-yellow-odd);
  color: var(--text-primary);
}

.th-yellow {
  font-weight: 500;
  background-color: var(--background-yellow-th) !important;
  color: var(--text-yellow);
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.right-position {
  margin-left: 420px;
}

.btn-filter {
  margin-left: 95px;
  background-color: #9f8400;
  color: white;
}

.btn-filter-1 {
  margin-left: 80px;
  background-color: #9f8400;
  color: white;
}

.fa-minus {
  font-size: 14px;
}

.fa-plus {
  font-size: 14px;
}

.right {
  float: right;
}

.table-responsive2 {
  display: relative;
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 1100px) {
  .table-responsive1 {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .btn-filter {
    margin-left: -0px;
  }
  .btn-filter-1 {
    margin-left: 15px;
  }
  .right-position {
    margin-left: 9px;
  }
}

@media (max-width: 1300px) {
  .responsive-over {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .card {
    margin: 10px auto;
  }
}

@media (max-width: 500px) {
  .sticky-table {
    position: relative;
  }

  .sticky-col {
    position: relative;
  }

  .second-col {
    left: 0px;
  }
}
