:root {
  --background-green: #c6efce;
  --text-green: #2cc229;
  --text-green-secondary: #32c53a;
  --background-red: #ffc7ce;
  --text-red: #ec0f1a;
  --text-red-secondary: #d61721;
  --background-yellow-th: #ffd304;
  --background-yellow-even: #ffec94;
  --background-yellow-odd: #fff7ce;
  --background-even: #eeeeee;
  --background-odd: #f8f8f8;
  --text-primary: #5a7d8d;
  --text-yellow: rgb(100, 100, 100);
}

.table td,
.table th {
  padding: 0.5rem;
}

.chart-1 {
  color: #50b052;
}

.chart-2 {
  color: #a8d08d;
}

.chart-3 {
  color: #f8c045;
}

.chart-4 {
  color: #f4b083;
}

.chart-5 {
  color: #adb9ca;
}

.chart-6 {
  color: #bdd6ee;
}

th {
  text-align: center;
}

td {
  border: 3px solid white !important;
}

.low-inv {
  font-weight: 500;
  background-color: #50b052;
  color: white;
}

.proper-inv {
  font-weight: 500;
  background-color: #a8d08d;
  color: white;
}

.mod-sales {
  font-weight: 500;
  background-color: #f8c045;
  color: white;
}

.no-sales {
  font-weight: 500;
  background-color: #f4b083;
  color: white;
}

.new-store {
  font-weight: 500;
  background-color: #adb9ca;
  color: white;
}

.total {
  font-weight: 500;
  background-color: #bdd6ee;
  color: white;
}

.text-green {
  font-weight: 500;
  color: var(--text-green-secondary) !important;
}

.text-red {
  font-weight: 500;
  color: var(--text-red-secondary);
}

.td-green {
  font-weight: 500;
  background-color: var(--background-green);
  color: var(--text-green);
}

.td-even {
  font-weight: 500;
  background-color: var(--background-even);
  color: var(--text-primary);
}

.td-odd {
  font-weight: 500;
  background-color: var(--background-odd);
  color: var(--text-primary);
}

table {
  border-radius: 8px 8px 0px 0px !important;
}

.td-red {
  font-weight: 500;
  background-color: var(--background-red);
  color: var(--text-red);
}

.td-yellow-even {
  font-weight: 500;
  background-color: var(--background-yellow-even);
  color: var(--text-primary);
}

.td-yellow-odd {
  font-weight: 500;
  background-color: var(--background-yellow-odd);
  color: var(--text-primary);
}

.th-yellow {
  font-weight: 500;
  background-color: var(--background-yellow-th) !important;
  color: var(--text-yellow);
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.right {
  float: right !important;
}

.btn-filter {
  margin-left: 95px;
  background-color: #9f8400;
  color: white;
}

@media (max-width: 1100px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
